html,
body {
    width: 100%;
    height: 100%;
    background-color: buttonhighlight;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
}
input{
    text-align: center;
}
select{
    text-align-last: center;
    width:150px; 
}